<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MPBluetoothKitDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C98F56A71BE1FC2E0094010A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C98F56C01BE1FC2E0094010A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C98F56CB1BE1FC2E0094010A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
